.cadastroCard {
  padding: 30px;
  max-width: 300px;
}

mat-form-field{
  padding: 15px;
}

.jogadoresCadastrados{
  display: flex;
  flex-wrap: wrap;
}

.forCadastrados {
  color: gray;
  width: 300px;
  margin: 30px 30px 30px 30px;
}
